body {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: #eae1df;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    color: #99621E;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #99621e28;
}

#logo #span1 {
    display: block;
    font-size: 0.7em;
    padding-left: 21px;
    margin-bottom: -18px;
}

#logo #span2 {
    display: block;
    margin-top: -18px;
    padding-left: 46px;
    font-size: 1.2em;
}

#fav-logo {
    color: #99621E;
    font-size: 2em;
    padding: 10px;
    transition: all 0.3s;
    transform: scale(0.8);
}

#fav-logo:hover {
    transform: scale(1);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* ------------ FILTERS -------------*/

main {
    padding-left: 15px;
}

p {
    margin-bottom: 0;
}

#filter-form {
    display: block;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    gap: 15px;
}

label {
    display: block;
    padding: 5px 0;
}

input[type=number],
input[type=text] {
    background-color: #eae1df;
    border: none;
    border-bottom: 1px solid #99621E;
    font-size: 1.2em;
    font-family: 'Dosis', sans-serif;
}

input[type=number] {
    width: 25px;
    margin-left: 5px;
    padding-left: 5px;
}

input[type=number]:focus {
    border-bottom: 1px solid #99621E;
    outline: 0;
}

input[type=text] {
    width: 20px;
    text-align: center;
}

input[type=text]:focus {
    width: 20px;
    margin: 0 auto;
    outline: 0;
}

input[type=button] {
    margin-top: 20px;
    padding: 3px 50px;
    color: #eae1df;
    background-color: #99621E;
    border: none;
    border-radius: 15px;
    font-size: 1em;
}

/* ----------- IMAGES LIST -------------- */

#dogs {
    padding-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

#dogs li {
    padding-top: 40px;
}

#dogs h3 {
    padding-bottom: 3px;
    font-size: 1.3em;
}

/* -------------- DOG PAGE -------------- */
#dog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dog-container h2,
#dog-container h3 {
    text-align: center;
}

#dog-container p {
    display: block;
    font-size: 1.2em;
    color: #99621E;
    font-weight: bold;
    text-align: center;
}

#dog-container span {
    font-weight: lighter;
    padding-left: 3px;
    color: black;
}

#dog-container #fav-button {
    background-color: transparent;
    border: none;
    display: inline;
    font-size: 1em;
    padding: 10px;
    color: #cc1d1d;
    transform: translateY(2px);
    cursor: pointer;
    transition: all 0.3s;
}

#dog-container #fav-button:hover {
    transform: scale(1.1);
}


/* ------------- FAV PAGE ------------- */

#fav-dogs-container li {
    border-bottom: 1px solid #99621E;
    padding: 30px 0;
}







@media screen and (min-width: 670px) {
    body {
        font-size: 18px;
    }

    #dogs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #dogs li {
        position: relative;
        overflow: hidden;
        padding-top: 0;
        padding: 15px 0;
    }

    #dogs h3 {
        display: inline;
        position: absolute;
        width: 300px;
        height: 200px;
        text-align: center;
        top: 100px;
        color: #eae1df;
        transform: translateY(150px);
        z-index: -1;
    }

    #dogs img {
        width: 300px;
        height: 200px;
    }

    #dogs li:hover h3 {
        transform: translateY(0);
        z-index: 1;
    }

    #dogs li:hover img {
        filter: blur(2px) brightness(50%);
        transform: scale(1.1);
    }

    #dogs h3,
    #dogs img {
        transition: all 0.5s;
    }


    /* ---- DOG PAGE ---- */
    #dog-container {
        flex-direction: row;
        justify-content: space-around;
    }
}